<!DOCTYPE html>
<html lang="en" ng-app="drifty-dash" id="top">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>Drifty's Dash</title>

    <meta name="description" content="Drifty's Dashboard">

    <!-- browserify bundle -->
    <script src="bundle.js"></script>

    <!-- less bundle -->
    <link rel="stylesheet" href="bundle.css"/>

    <link rel="author" href="https://github.com/7yl4r">

</head>
<body class="ng-cloak" ng-controller="MainCtrl as MainCtrl">

<div role="main">

    <div class="container">
		<div class='row'>

            <demo-widget></demo-widget>

			<div class='col-md-2 panel panel-default'>
                <div class="panel-heading">
                    <h3 class="panel-title">Empty widget</h3>
                </div>
                <div class="panel-body">
				    blank space for future widgets
                </div>
			</div>
			<div class='col-md-4 panel panel-default'>
                <div class="panel-heading">
                    <h3 class="panel-title">Info widget</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            Report bugs, issues, or feature requests to the<a href='https://github.com/7yl4r/drifty-dash/issues'> issue tracker</a>.
                        </li>
                        <li>
                            Or <a href='mailto:murray.tylar+driftyDash@gmail.com'>contact murray.tylar@gmail.com</a>.
                        </li>
                    </ul>

                </div>
			</div>
			<c3-graph-widget></c3-graph-widget>
		</div>
        <div class="row">
            <!-- ui-bootstrap test -->
            <div>
                <div ng-init="isCollapsed=false">
                    <button ng-click="isCollapsed = !isCollapsed"> toggle collapse </button>
                    <div uib-collapse="isCollapsed" >
                        <div class="well well-lg">Some content</div>
                    </div>
                </div>

                <div ng-init="groups = [
                                {
                                    title: 'Dynamic Group Header - 1',
                                    content: 'Dynamic Group Body - 1'
                                },
                                {
                                    title: 'Dynamic Group Header - 2',
                                    content: 'Dynamic Group Body - 2'
                                }
                            ]">
                    <p>
                        <button type="button" class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
                    </p>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="oneAtATime">
                            Open only one at a time
                        </label>
                    </div>
                    <uib-accordion close-others="oneAtATime">
                        <uib-accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                            This content is straight in the template.
                        </uib-accordion-group>
                        <uib-accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                            {{group.content}}
                        </uib-accordion-group>
                        <uib-accordion-group heading="Dynamic Body Content">
                            <p>The body of the uib-accordion group grows to fit the contents</p>
                            <button type="button" class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
                            <div ng-repeat="item in items">{{item}}</div>
                        </uib-accordion-group>
                        <uib-accordion-group heading="Delete account" panel-class="panel-danger">
                            <p>Please, to delete your account, click the button below</p>
                            <button class="btn btn-danger">Delete</button>
                        </uib-accordion-group>
                        <uib-accordion-group is-open="status.open">
                            <uib-accordion-heading>
                                I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </uib-accordion-heading>
                            This is just some content to illustrate fancy headings.
                        </uib-accordion-group>
                    </uib-accordion>
                </div>


            </div>
            </div>
            <!-- end ui-bootstrap test -->
        </div>
    </div><!-- /.container -->

</div><!-- /.main -->
</body>
</html>
