<div ng-init="oneAtATime = true">
    <uib-accordion close-others="oneAtATime">
        <div ng-repeat="seri in series" class="series-panel">
            <uib-accordion-group heading="{{seri.instrument}}">
                <textarea>{{seri}}</textarea>
                <button ng-click="updateSeries(seri.instrument)">update series json</button>
                <button ng-click="removeSeries(seri.instrument)">delete series</button>
            </uib-accordion-group>
        </div>
    </uib-accordion>
    <button ng-click="addSeries()">add series</button>
</div>