<div class='col-md-6 panel panel-default demo-widget' ng-controller="demoWidgetController as demoCtrl">
    <div class="panel-heading">
        <h3 class="panel-title">Demo Widget #1</h3>
    </div>
    <div class="panel-body">
        <table>
            <tr>
                <td>
                    Wavelength
                </td>
                <td>
                    <input type="number" ng-model="wavelength" ng-change="updateWavelength(true)"/>
                </td>
            </tr>
            <tr>
                <td>
                    Wave Vector
                </td>
                <td>
                    <input type="number" ng-model="waveVector" ng-change="updateWaveVector(true)"/> <br>
                </td>
            </tr>
            <tr>
                <td>
                    Frequency
                </td>
                <td>
                    <input type="number" ng-model="frequency" ng-change="updateFreq(true)" /><br>
                </td>
            </tr>
            <tr>
                <td>
                    Wavenumber
                </td>
                <td>
                    <input type="number" ng-model="wavenumber" ng-change="updateWavenumber(true)"/> <br>
                </td>
            </tr>
            <tr>
                <td>
                    Velocity
                </td>
                <td>
                    <input type="number" ng-model="velocity" ng-change="updateVelocity(true)"/> <br>
                </td>
            </tr>
            <tr>
                <td>
                    Temperature
                </td>
                <td>
                    <input type="number" ng-model="temperature" ng-change="updateTemperature(true)"/> <br>
                </td>
            </tr>
            <tr>
                <td>
                    Energy
                </td>
                <td>
                    <input type="number" ng-model="energy" ng-change="updateEnergy(true)"/> <br>
                </td>
            </tr>
        </table>

        <!--
            TODO:
            Wavelength  -> lambda[angstroms] = 9.044 / np.sqrt(E[meV])
            Wave vector -> k[angstroms^-1] = 2*np.pi/lambda[angstroms]
            Frequency   -> nu[THz] = 0.2418*E[meV]
            Wavenumber  -> nu[cm-1] = nu[Hz] / (2.998 * 10^10 cm/s)
            Velocity    -> v[km/s] = 0.6302 k[angstroms^-1]
            Temperature -> T[K] = 11.605 * E[meV]
            Energy      -> E[meV] = 2.072*k^2 [angstroms^-1]

            lambda = 9.044 / sqrt(E)
            k      = 2*PI / lambda
            nu_f   = .2418 * E
            nu_w   = nu_f*1000000000000 / (2.998 * 10^10)
            nu_v   = 0.6302 * k
            T      = 11.605 * E
            E      = 2.072 * k * k
        -->

    </div>
</div> <!-- demoWidget -->