<div class='col-md-6 panel panel-default demo-widget' ng-controller="demoWidgetController as demoCtrl">
    <div class="panel-heading">
        <h3 class="panel-title">Demo Widget #1</h3>
    </div>
    <div class="panel-body">
        <table>
            <tr>
                <td>
                    Wavelength
                </td>
                <td>
                    (λ)
                </td>
                <td>
                    <!-- TDOO: could use ng directive here?: <sys-eq-input varname="wavelength"></sys-eq-input> -->
                    <input id="sys-eq-wavelength" type="number" ng-model="sysEq.values['wavelength']" ng-change="sysEq.change('wavelength')"/>
                </td>
                <td>
                    Å
                </td>
            </tr>
            <tr>
                <td>
                    Wave Vector
                </td>
                <td>
                    (k)
                </td>
                <td>
                    <input id="sys-eq-wavevector" type="number" ng-model="sysEq.values['waveVector']" ng-change="sysEq.change('waveVector')"/> <br>
                </td>
                <td>
                    1/Å
                </td>
            </tr>
            <tr>
                <td>
                    Frequency
                </td>
                <td>
                    (f)
                </td>
                <td>
                    <input id="sys-eq-frequency" type="number" ng-model="sysEq.values['frequency']" ng-change="sysEq.change('frequency')" /><br>
                </td>
                <td>
                    THz
                </td>
            </tr>
            <tr>
                <td>
                    Wavenumber
                </td>
                <td>
                    (ν)
                </td>
                <td>
                    <input id="sys-eq-wavenumber" type="number" ng-model="sysEq.values['wavenumber']" ng-change="sysEq.change('wavenumber')"/> <br>
                </td>
                <td>
                    1/cm
                </td>
            </tr>
            <tr>
                <td>
                    Velocity
                </td>
                <td>
                    (v)
                </td>
                <td>
                    <input id='sys-eq-velocity' type="number" ng-model="sysEq.values['velocity']" ng-change="sysEq.change('velocity')"/> <br>
                </td>
                <td>
                    km/s
                </td>
            </tr>
            <tr>
                <td>
                    Temperature
                </td>
                <td>
                    (T)
                </td>
                <td>
                    <input id='sys-eq-temperature' type="number" ng-model="sysEq.values['temperature']" ng-change="sysEq.change('temperature')"/> <br>
                </td>
                <td>
                    K
                </td>
            </tr>
            <tr>
                <td>
                    Energy
                </td>
                <td>
                    (E)
                </td>
                <td>
                    <input id='sys-eq-energy' type="number" ng-model="sysEq.values['energy']" ng-change="sysEq.change('energy')"/> <br>
                </td>
                <td>
                    meV
                </td>
            </tr>
        </table>

        <!--
            TODO: show system of equations somewhere on UI
            Wavelength  ->  [angstroms] = 9.044 / np.sqrt(E[meV])
            Wave vector -> k[angstroms^-1] = 2*np.pi/lambda[angstroms]
            Frequency   -> nu[THz] = 0.2418*E[meV]
            Wavenumber  -> nu[cm-1] = nu[Hz] / (2.998 * 10^10 cm/s)
            Velocity    -> v[km/s] = 0.6302 k[angstroms^-1]
            Temperature -> T[K] = 11.605 * E[meV]
            Energy      -> E[meV] = 2.072*k^2 [angstroms^-1]

            lambda = 9.044 / sqrt(E)
            k      = 2*PI / lambda
            nu_f   = .2418 * E
            nu_w   = nu_f*1000000000000 / (2.998 * 10^10)
            nu_v   = 0.6302 * k
            T      = 11.605 * E
            E      = 2.072 * k * k
        -->

    </div>
</div> <!-- demoWidget -->